apiVersion: v1
kind: Secret
metadata:
  name: ddclient-secret
  labels:
    app: ddclient

stringData:
  ddclient.conf: |
    daemon=600
    syslog=yes

    use=web
    web=https://domains.google.com/checkip

    protocol=cloudflare
    ssl=yes
    ttl=1
    login={{ cloudflare_email }}
    password={{ cloudflare_key }}
    zone={{ cloudflare_zone }}
    {{ cloudflare_zone }}

    protocol=googledomains
    ssl=yes
    ttl=1
    login={{ googledomains_username }}
    password={{ googledomains_password }}
    {{ googledomains_host }}
