apiVersion: v1
kind: Secret
metadata:
  name: ddclient-secret
  labels:
    app: ddclient

stringData:
  ddclient.conf: |
    daemon=600
    syslog=yes

    use=web
    web=https://dynamicdns.park-your-domain.com/getip

    {% for zone, data in cloudflare_zones.items() -%}
    protocol=cloudflare
    ssl=yes
    ttl=1
    login={{ cloudflare_email }}
    password={{ cloudflare_key }}
    zone={{ zone }}
    {{ data.fqdn }}

    {% endfor %}
